@model IEnumerable<SpotifyChart.Data.Entities.Songs>
@section Scripts{
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    <script src="~/clientapp/dist/main.js"></script>
}

<body>
<div class="row">
    <div class="col-md-12">
        <spotify-chart></spotify-chart>
    </div>
</div>

</body>

